zheart: ❤️
zsad: 😥
zgrin: 😁
qyz: ✅
qnz: ❌
qcz: ⭕
qwz: ⚠️
qrs: 🟥
qos: 🟧
qys: 🟨
qgs: 🟩
qbs: 🟦
qps: 🟪
qts: 🟫
qks: ⬛
qws: ⬜
zhi: Hey there!
rte: https://github.com/emmertex/RiskyTextExpander
midbold: Middle `bold` word `bold` bold.
zgoodbye: Kind Regards, `enter` Andrew Frahn `enter` `bold` Emmertex `bold` `send`